#app {
    display: flex;
    flex-direction: column;
}

#root {
max-width: 1280px;
margin: 0 auto;
padding: 2rem;
text-align: center;
}

.logo {
height: 6em;
padding: 1.5em;
margin: 1.5em;
will-change: filter;
transition: filter 300ms;
}
.logo:hover {
filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.solid:hover {
filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
padding: 2em;
}

.read-the-docs {
color: #888;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin: 0;
}

small {
    font-size: 0.9em;
    margin: 0;
    color: #888;
}