#root {
  display: flex;
  place-items: center;
}

.question-label {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 600;
  margin: 0;
}

.answer-feedback-container {
  display: flex;
  flex-direction: column;
  column-gap: 0.5em;
  justify-content: center;
  overflow-wrap: break-word;
}

.answer-input {
  display: block;
  width: 100%;
  max-width: 10em;
  font-size: 2em;
  line-height: 1.2;
  font-weight: 500;
  margin: 0;
  outline: 0;
  border: 0;
  text-align: center;
  background-color: transparent;
  color: var(--main-action-color);
}

.answer-block-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.75em;
}

.answer-feedback-container {
  width: 100%;
  gap: 0.5em;
  display: flex;
  align-items: center;
}

.answer-block {
  padding: 1em;
  border-radius: 0.5em;
  font-size: 100%;

  width: 4vw;
  min-width: 3rem;
  max-width: 6rem;

  height: 4vw;
  min-height: 3rem;
  max-height: 6rem;
  background-color: var(--main-disabled-color);

  display: flex;
  justify-content: center;
  align-items: center;

  /* flex: 0 0 calc(33.33% - 1em); */
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.answer-block:hover {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}
.answer-block.selected {
  background-color: var(--main-action-color);
}

.shown-answer {
  font-size: 1.5em;
}
.shown-answer.correct-answer {
  background-color: var(--main-positive-color);
}
.shown-answer.wrong-answer {
  background-color: var(--main-negative-color);
}

.stop-button {
  color: var(--main-negative-color);
  border: 0.2em solid var(--main-negative-color);
  background-color: transparent;
}
